.home {
    width: 100%;
    height: 400px;
    background-color: #2e1114;
}

.homeWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

.upperBanner {
    flex: 8;
    padding: 20px;
}

.animatedBannerText {
    color: white;
    font-size: 60px;
}

.bottomBanner {
    flex: 4;
}



.bottomBannerWrapper {
    -webkit-box-shadow: 3px 5px 15px -9px rgba(0, 0, 0, 0.67);
    box-shadow: 3px 5px 15px -9px rgba(0, 0, 0, 0.67);
    position: absolute;
    bottom: -300px;
    width: 70%;
    height: 100px;
    background-color: white;
    margin-left: 200px;
    border-radius: 30px;
}

.bottomBannerInputIcon {
    color: gray;
    margin-right: 10px;
}

.bottomBannerInput {
    border: none;
    width: 70%;
}

.bottomBannerInput:focus {
    outline: none;
}

.bottomBannerInputText {
    cursor: pointer;
}

.date {}

.options {
    background-color: white;
    color: gray;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.optionCounterButton:disabled {
    cursor: not-allowed;
}

.listContainer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}